<dx-diagram #diagram (nodesChange)="change($event)" (onSelectionChanged)="change($event)" customShapeTemplate="">
  <dxi-custom-shape category="BPMN"
                    [type]='"start"'
                    backgroundImageUrl="assets/bpmn-shapes/start.svg"
                    [title]="'Start'"
                    [defaultText]="'Start'"
                    [allowEditText]="false">
  </dxi-custom-shape>

  <dxi-custom-shape category="BPMN"
                    [type]='"end"'
                    backgroundImageUrl="assets/bpmn-shapes/end.svg"
                    [title]="'End'"
                    [defaultText]="'End'"
                    [allowEditText]="false">
  </dxi-custom-shape>
  <dxi-custom-shape category="BPMN"
                    [type]='"task"'
                    backgroundImageUrl="assets/bpmn-shapes/task.svg"
                    [title]="'Task'"
                    [defaultText]="'Task'"
                    [allowEditText]="false">
  </dxi-custom-shape>

  <dxo-toolbox>
    <dxi-group category="BPMN" title="BPMN"></dxi-group>
  </dxo-toolbox>
</dx-diagram>

<button (click)="save()">SAVE</button>


<p-sidebar [visible]="showSidebar">
  <h1>Configure element</h1>
  <form [formGroup]="configFormGroup">
    <label for="name">Name</label>
    <input id="name" formControlName="name" type="text" />
  </form>

  <button pButton (click)="submit()">
    Submit
  </button>
</p-sidebar>
